@model SmartStore.Data.Models.ProductModel

<script>
    function saveProduct() {
        var tagsObjs = $('#TagsField').tokenfield('getTokens');
        for (var i = 0; i < tagsObjs.length; i++) {
            $('<input />').attr('type', 'hidden')
                .attr('name', `Tags[${i}]`)
                .attr('value', tagsObjs[i].value)
                .appendTo('form');
        }
        $('form').submit();
    }

    $(document).ready(function () {
        $('#TagsField').tokenfield({
            autocomplete: {
                source: [@Html.Raw((TempData["ExistingTags"] != null ? TempData["ExistingTags"].ToString():""))],
                delay: 100
            },
            showAutocompleteOnFocus: true
        });

        var modelTokens = [@Html.Raw((Model!=null && Model.Tags != null && Model.Tags.Length>0 ? string.Join(',',Model.Tags.Select(t=>$"'{t}'")) : ""))]
        $('#TagsField').tokenfield('setTokens', modelTokens);
    });
</script>
<h4>Product Editing</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellingPrice" class="control-label"></label>
                <input asp-for="SellingPrice" class="form-control" />
                <span asp-validation-for="SellingPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tags" class="control-label"></label>
                <input id="TagsField" class="form-control" />
            </div>
            <div class="form-group">
                <input type="button" onclick="saveProduct()" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Status">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
