@model NewStockMovementModel
@{
    ViewData["Title"] = "New Stock Movement";
    ViewData["ActiveMenu"] = "navStock";
}

<h4>New Stock Movement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="NewStockMovement">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Product.Id" />
                <label asp-for="Product.Name" class="control-label"></label>
                <label class="control-label">@Model.Product.Name</label>
            </div>
            <div class="form-group">
                <label asp-for="StockMovementTypeId" class="control-label"></label>
                <select asp-for="StockMovementTypeId" asp-items="Model.StockMovementTypes" class="form-control"></select>
                <span asp-validation-for="StockMovementTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Status">Back to Stock status</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
