@model StockSearchFilter

@{
    ViewData["Title"] = "Products Page";
    ViewData["ActiveMenu"] = "navStock";
}

<script type="text/javascript">
    var processing = false;

    $(document).ready(function () {
        $('form.search-product input').on('input', function () {
            if (!processing) {
                $.ajax({
                    type: "POST",
                    url: '/Stock/Search',
                    data: JSON.stringify(objectifyForm($('form.search-product'))),
                    contentType: "application/json",
                    accepts: 'text/html',
                    beforeSend: function () {
                        processing = true;
                        $("#Results").html('<div class="loader mx-auto"></div>');
                    },
                    error: function (context) {
                        $("#Results").html(context);
                    },
                    success: function (context) {
                        $("#Results").html(context);
                    },
                    complete: function () {
                        processing = false;
                    }
                });
            }
        });
    });

</script>


<div class="row m-1 p-1">
    <form asp-action="Search" method="post" class="form-inline search-product">
        <div class="col p-0">
            <input asp-for="Name" class="form-control form-control-sm" placeholder="Name" />
        </div>
        <div class="col p-0">
            <input asp-for="Description" class="form-control form-control-sm" placeholder="Description" />
        </div>
        <div class="col p-0">
            <input asp-for="MinSellingPrice" class="form-control form-control-sm" placeholder="Minimum selling price" />
        </div>
        <div class="col p-0">
            <input asp-for="MaxSellingPrice" class="form-control form-control-sm" placeholder="Maximun selling price" />
        </div>
        <div class="col p-0">
            <input asp-for="MinStock" class="form-control form-control-sm" placeholder="Minimum stock" />
        </div>
        <div class="col p-0">
            <input asp-for="MaxStock" class="form-control form-control-sm" placeholder="Maximun stock" />
        </div>
    </form>
</div>
<div class="row m-1 p-1">
    <div class="col">
        <div id="Results"></div>
    </div>
</div>

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
