@model List<ProductModel>
@{
    ViewData["Title"] = "Products Page";
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ProductModel product in Model)
        {

            <tr>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.SellingPrice</td>
            </tr>
        }
    </tbody>
</table>