@model BillingInformationModel
@{
    ViewData["Title"] = "Billing Information";
    ViewData["ActiveMenu"] = "";
}
<h4>Billing Information</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Billing" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="UserId" class="form-control" type="hidden" />
            <div class="form-group">
                <label asp-for="CreditCardNumber" class="control-label"></label>
                <input asp-for="CreditCardNumber" class="form-control" />
                <span asp-validation-for="CreditCardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreditCardCompany" class="control-label"></label>
                <input asp-for="CreditCardCompany" class="form-control" />
                <span asp-validation-for="CreditCardCompany" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
