@model SmartStore.Web.Portal.Models.ConfirmEmailModel
<h3>@Model.Name, welcome to Smart Store</h3>
<p>
    Click in the following link to confirm your email.
</p>
<a href="@Model.ConfirmationUrl">Confirm Email</a>